Source: opx-sdi-sys
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9), dh-autoreconf, libopx-common-dev, libopx-logging-dev, libopx-db-sql-dev, libz-dev
Standards-Version: 3.9.3

Package: libopx-sdi-sys1
Conflicts: libopx-sdi
Provides: libopx-sdi
Replaces: libopx-sdi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains implementation of System Device Interface(SDI)

Package: libopx-sdi-device-drivers1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains the device driver plugin to be used with opx-sdi-sys package.

Package: libopx-sdi-framework1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains common framework for System Device Interface(SDI)

Package: libopx-sdi-sys-vm1
Conflicts: libopx-sdi
Provides: libopx-sdi
Replaces: libopx-sdi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains implementation of System Device Interface(SDI)

Package: libopx-sdi-sys-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libopx-common-dev, libopx-logging-dev, libopx-sdi
Description: This package contains implementation of System Device Interface(SDI)

